body {
    font-family: Arial;
    background: #1e1e2f;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

/* Calculator Box */
.calculator {
    background: #2c2c3e;
    padding: 20px;
    border-radius: 10px;
    width: 260px;
}

/* Display */
#display {
    width: 100%;
    height: 50px;
    margin-bottom: 15px;
    text-align: right;
    font-size: 20px;
    padding: 10px;
    border: none;
    border-radius: 5px;
}

/* Buttons Grid */
.buttons {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 10px;
}

/* Buttons Style */
button {
    padding: 15px;
    font-size: 16px;
    border: none;
    border-radius: 5px;
    background: #444;
    color: white;
    cursor: pointer;
}

button:hover {
    background: #666;
}

.zero {
    grid-column: span 2;
}